* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: color #292828;
    color: #fff;

}

#header {
    width: 100;
    height: 100vh;
    background-image: url(img/wp3284848.gif);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo {
    width: 300px;
    height: 307px;
    position: absolute;
    left: 186px;
    top: 0px
}

nav ul li {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 250;
    display: inline-block;
    left: 976px;
    top: 20px;


}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}